/*-----------------------------------------------------------*/
/*--- Colour Palette ---*/
/*-----------------------------------------------------------*/
/*
  #A5D7E8
  #576CBC
  #19376D
  #0B2447
*/

/*-----------------------------------------------------------*/
/*--- Basic Setup ---*/
/*-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html, body {
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background-color: #0B2447;
}

a:link, a:visited {
  text-decoration: none;
  padding: 1px;
}

/*-----------------------------------------------------------*/
/*--- Background ---*/
/*-----------------------------------------------------------*/
.hero {
   height: 98vh;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
}

/*-----------------------------------------------------------*/
/*--- Hero Page ---*/
/*-----------------------------------------------------------*/
.hero h1:nth-child(1){
  color: #19376D;
  position: absolute;
  font-weight: bold 600;
  font-size: 55px;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero h1:nth-child(2){
  color: #A5D7E8;
  position: absolute;
  font-weight: 900;
  font-size: 125px;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero h1:nth-child(3){
  color: #A5D7E8;
  position: absolute;
  font-weight: 900;
  font-size: 125px;
  top: 57%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*---- Main-Nav ----*/
.main-nav {
  float: right;
  list-style: none;
  margin-top: 75px;
  margin-right: 105px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
  color: #A5D7E8;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
}

.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 2px solid #19376D;
  color: #19376D;
}

/*---- Buttons ----*/
.btn:link {
  padding: 10px 20px;
  background-color: #576CBC;
  box-shadow: 0 0 5px 5px #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn:hover {
  color: #19376D;
  background-color: #A5D7E8;
  box-shadow: none;
}

.btn-ghost {
  color: #A5D7E8;
  border: 1px solid #A5D7E8;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 67%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.btn-ghost:link {
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-ghost:hover {
  background-color: #A5D7E8;
  color: #19376D;
  box-shadow: 0 0 5px 5px #fff;
}

/*---- Hyper-links ----*/
.hyper-links {
  list-style: none;
  /* position: absolute;
  top: 67%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
  padding-top: 25px;
}

.hyper-links li {
  display: inline-block;
  font-size: 35px;
  margin-left: 25px;
}

.hyper-links li a {
  color: #4e4e4e;
}

/*---- Scroll-Nav ----*/
.nav-scroll {
  color: #4e4e4e;
  position: absolute;
  top: 88%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.logo-down {
  top: 91%;
  font-size: 35px;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  50% {
    transform: translate(-18px, 5px);
    -webkit-transform: translate(-18px, 5px);
    -moz-transform: translate(-18px, 5px);
    -ms-transform: translate(-18px, 5px);
    -o-transform: translate(-18px, 5px);
  }
}

.logo-down:hover {
  color: #A5D7E8;
}

/*-----------------------------------------------------------*/
/*--- Projects ---*/
/*-----------------------------------------------------------*/
.projects {
  height: 100vh;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.proj {
  height: 100vh;
}

.project-title {
  padding-top: 15px;
  padding-bottom: 20px;
  margin-left: 100px;
}

.numerical-title {
  font-weight: 300;
  font-size: 45px;
}

.title {
  font-weight: 600;
  font-size: 65px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 65%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}

.project-description {
  width: 55%;
  padding-top: 15px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-description p {
  font-size: 25px;
}

.slide{
  display: none;
}

.slide-control {
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: #4e4e4e;
  transition: 0.6s ease;
  user-select: none;
  padding-left: 20px;
  padding-right: 20px;
}

.prev:hover, .next:hover {
  color: #000;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #4e4e4e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -ms-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.active, .dot:hover {
  background-color: #000;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4;}
  to {opacity: 1;}
}

/*---- Project-1 ----*/
.project-1 {
  background-color: #19376D;
  color: #0B2447;
}

/*---- Project-2 ----*/
.project-2 {
  background-color: #576CBC;
  color: #19376D;
}

/*---- Project-3 ----*/
.project-3 {
  background-color: #A5D7E8;
  color: #576CBC;
}

/*---- Project-4 ----*/
.project-4 {
  background-color: #0B2447;
  color: #A5D7E8;
}

/*---- Project-3 ----*/
.project-5 {
  background-color: #19376D;
  color: #0B2447;
}

/*-----------------------------------------------------------*/
/*--- About ---*/
/*-----------------------------------------------------------*/
.left {
  float: left;
  width: 50%;
  position: relative;
  top: 20%;
}

.left p {
  font-weight: 400;
  letter-spacing: 1.5px;
  width: 75%;
  color: #A5D7E8;
}

.left p span {
  color:#576CBC;
}

.para {
  padding-top: 20px;
}

.logo-document {
  color: #4e4e4e;
  font-size: 35px;
  position: relative;
  top: 10px;
}

.logo-document:hover {
  color: #19376D;
}

/*-----------------------------------------------------------*/
/*--- Media Query ---*/
/*-----------------------------------------------------------*/
